 body {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
     background-size: cover;
     background-position: center;
     color: white;
 }

 nav {
     display: flex;
 }

 nav a {
     text-decoration: none;
     color: white;
     margin-right: 25px;
     /* transition: transform 0.1s; зробити час з'явлення кольору  */ 
    font-size: 17px;
 }

 nav a:hover {
     color: #d31919;
 }
 nav a:last-child {
     margin-right: 80px;
 }

 header {
     background-color: #333;
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 main {
     text-align: center;
 }

 .main-txt {
     font-family: Serif;
     font-size: 22px;
     color: rgb(0, 0, 0);
 }
 .links-main-txt{
    color: black;
 }

.links-main-txt:hover{
    color: #d31919;
}

.main-container{
    width: 100%;
    height: 100vh;
    position: relative;

}
.main-content{
    isolation: isolate;
}
 .main-container::before {
     content: " ";
     position: absolute;
     top: 0px;
     right: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
     background-image: url(tank.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     opacity: 0.4;    
 }

 .strong-txt {
     font-family: Serif;
     font-size: 25px;
 }

 header img {
     width: 160px;
     height: 75px;
 }
 .h2-txt{
    font-family: Serif;
    font-size: 28px;
    color:rgb(0, 0, 0);
 }
  .aftermain {
     color: black;
     font-family: Serif;
     background-color: #aa1414;
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.aftermain-main{
    color: black;
    font-family: Serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    margin-top: 80px;
}
.h3-aftermain-main{
    width: 1000px;
    font-family: Serif;
    margin-top: 80px;
}
.links-aftermain-main{
    color: black;
}
.links-aftermain-main:hover{
    color: #d31919;
}
.gallery{
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}
.gallery-item {
    text-align: center;
    border-radius: 7px;
    background-color: #9e9e9e;
    color: white;
    padding: 15px;
}
.gallery-p-style{
    font-size: 15px;
    margin-bottom: 10px;
}
 footer {
     background-color: #333;
     color: white;
     text-align: center;
     bottom: 0;
     width: 100%; 
     height: 100px;
 }
 .style-footer{
    padding-top: 10px;
 }