body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #6d1818;
}

.nav-menu {
    width: 700px;
}

.nav-content {
    display: flex;
    justify-content: end;
    list-style: none;
}

.nav-items {
    margin: 0 20px;
}

.nav-links {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.nav-links:hover {
    color: #6d1818;
}


section {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(167, 222, 178);
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(bg.webp);
    background-size: cover;
    opacity: 0.5;
}

.main-container {
    isolation: isolate;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.main-text-content {
    width: 600px;
    margin-right: 50px;
}

.main-subtitle {
    font-size: 20px;
    color: #db2020;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.main-headline {
    font-size: 40px;
    margin-bottom: 10px;
    color: #0a075c;
}

.main-paragraph {
    font-size: 15px;
    margin-bottom: 10px;
}

.main-button-started {
    width: 100px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #6d1818;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.main-button-learn {
    width: 100px;
    padding: 10px 20px;
    border: none;
    outline: 2px solid #6d1818;
    border-radius: 7px;
    cursor: pointer;
}

.main-button-started:hover {
    background-color: #380d0d;
}

.main-button-learn:hover {
    background-color: #c5c5c5;
}




.gallery-container {
    margin-top: 150px;
    padding-top: 200px;
    padding-bottom: 100px;
    background-image: url(cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    padding: 10px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    background-color: #333333;
    color: white;
    padding: 15px;
}

.gallery-item>p {
    font-size: 15px;
    margin-bottom: 10px;
    color: #6c6b6c;
}

.gallery-item>h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.gallery-item>img {
    width: 350px;
    height: 370px;
}

.gallery-item>button {
    margin-top: 15px;
    width: 100px;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #6d1818;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.gallery-item>button:hover {
    background-color: #380d0d;
    transition: 0.5s;
}