body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #6d1818;
}
.nav-menu{
    width: 700px;
}
.nav-content{
    display: flex;
    justify-content: end;
    list-style: none;
}
.nav-items{
    margin: 0 20px;
}
.nav-links{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.nav-links:hover{
    color: #6d1818;
}
.nav-button{
    width: 100px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #6d1818;
    color: white;
    cursor: pointer;
}



.main-container{
    background-image: url(bg.webp);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.main-text-content{
    width: 600px;
    margin-right: 50px;
}
.main-subtitle{
    font-size: 20px;
    color: #db2020;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.main-headline{
    font-size: 40px;
    margin-bottom: 10px;
    color: #0a075c;
}
.main-paragraph{
    font-size: 15px;
    margin-bottom: 10px;
}
.main-button-started{
    width: 100px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #6d1818;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.main-button-learn{
    width: 100px;
    padding: 10px 20px;
    border: none;
    outline: 2px solid #6d1818;
    border-radius: 7px;
    cursor: pointer;
}
.main-button-started:hover{
    background-color: #380d0d;
}
.main-button-learn:hover{
    background-color: #c5c5c5;
}
