.navbar {
    padding: 10px;
    display: flex;
    align-items: center;   
}
.nav-menu {
    width: 100%;
}

.nav-content {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: -70px ;
}
.nav-items {
    margin: 0 20px;
}
.nav-links {
    text-decoration: none;
    color:black;
    font-size: 20px;
    font-weight: bold;
}
.links{
    text-decoration: none;
    color: rgba(153, 141, 141, 0.747);
    font-weight: bold;

}
.logo{
    width: 70px;
    height: 42px 
}
.gallery{
   display: grid;
   grid-template-columns: auto auto auto;                      
   gap: 10px;
   justify-content: center; 
   padding-top: 30px;
}


.galerry-container{
    text-align: center;
    padding: 20px 0;
    font-size: 30px
}
.gallery-item {
    text-align: center;
    border-radius: 7px;
    
    color: black;
    padding: 15px;
}
.gallery-item-paragraph{
    color: gray;
}    
.some-text{
    background-color: lightgrey;
    padding: 20px;
}
@media screen and (max-width: 1800px) {
    .gallery {
        grid-template-columns: auto auto auto;
    }
    .some-text{
        font-size: 150px;
    }
}

@media screen and (max-width: 1500px) {
    .gallery {
        grid-template-columns: auto auto;
    }
    .some-text{
        font-size: 120px;
        background-color: aqua;
    }

}

@media screen and (max-width: 1000px) {
    .gallery {
        grid-template-columns: auto ;
    }
    .some-text{
        font-size: 50px;
        background-color: rgb(112, 126, 33);
    }
}

@media screen and (max-width: 700px) {
    
    .some-text{
        font-size: 40px;
        background-color: brown;
    }
}




