.navbar {
    padding: 10px;
    display: flex;
    align-items: center;   
}
.nav-menu {
    width: 100%;
}

.nav-content {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: -70px ;
}
.nav-items {
    margin: 0 20px;
}
.nav-links {
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-weight: bold;
}
.logo{
    width: 70px;
    height: 42px 
}
.gallery{
   display: grid;
   grid-template-areas: "item1  item2 "
                         "item3 item4 "
                         "item5 item6"   ;                      
   gap: 10px;
   justify-content: center; 
}
.gallery-item1 { grid-area: item1 }
.gallery-item2 { 
    grid-area: item2 ;
    
}

    

.gallery-item3 { grid-area: item3 }
.gallery-item4 { grid-area: item4 }
.gallery-item5 { grid-area: item5 }
.gallery-item6 { grid-area: item6 }

.galerry-container{
    text-align: center;
    padding: 20px 0;
    font-size: 30px
}
.gallery-item {
    text-align: center;
    border-radius: 7px;
    
    color: black;
    padding: 15px;
}
.gallery-item-paragraph{
    color: gray;
}    





